body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  place-items: center;
  
}

#root{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em;
  border: 5px solid wheat;
  border-radius: 20%;
  width: 100%;
  background-color:  #242424;
  text-align: center;
}

.background-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0,0,0, 0.7);
}

.modal {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  min-height: 25%;
  padding: 150px 2em;
  background-color: #fff;
  border-radius: 10px;
  color: black;
}

@media (max-width: 800px) {
  .modal {
    width: 70%;
  }
}
